:root {
  --cell-size: 8vmin;
  --bg: rgb(27, 36, 53);
  --fg: rgba(255, 255, 255, 0.7);
  --border: rgba(76, 76, 76, 0.7);
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;  
  background-color: var(--bg);
  color: var(--fg);
}

#root {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.game {
  margin: auto;
}

h1 {
  font-size: 2rem;
  margin: 1.5em 0 0 0;
}

.score-board {
  margin: 0 0 1em 0;
  font-size: calc(8px + 1vmin)
}

.game-board {
  display: grid;
  margin: auto;
  width: calc(var(--cell-size) * 9 + 20px);
  height: calc(var(--cell-size) * 9 + 20px);
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  row-gap: 2px;
  column-gap: 2px;
  background-color: var(--border);
  border: 2px solid var(--border);
}

.square {
  background: var(--bg);
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  width: var(--cell-size);
  height: var(--cell-size);
}

.square-active {
  background: rgb(56, 60, 70);
}

.square:hover {
  background: rgb(56, 60, 70);
}

.ball {
  opacity: 1;
  animation: zoom-in .5s ease
}

@keyframes zoom-in {
  0% {
    transform: scale(.1, .1);
  }
  100% {
    transform: scale(1, 1);
  }
}