:root {
  --cell-size: 8vmin;
}

[data-theme="light"] {
  --bg: rgb(243, 243, 243);
  --fg: rgba(8, 8, 8, 0.7);
  --bg-active: rgb(230, 230, 230);
  --border: rgba(167, 167, 167, 0.7);

  --ball-1: hsl(0, 47%, 54%);
  --ball-2: hsl(50, 47%, 54%);
  --ball-3: hsl(90, 40%, 54%);
  --ball-4: hsl(170, 47%, 54%);
  --ball-5: hsl(210, 47%, 54%);
  --ball-6: hsl(250, 47%, 54%);
  --ball-7: hsl(300, 47%, 54%);
}

[data-theme="dark"] {
  --bg: rgb(27, 36, 53);
  --fg: rgba(255, 255, 255, 0.7);
  --bg-active: rgb(56, 60, 70);
  --border: rgba(76, 76, 76, 0.7);

  --ball-1: hsl(0, 54%, 60%);
  --ball-2: hsl(50, 54%, 60%);
  --ball-3: hsl(100, 54%, 60%);
  --ball-4: hsl(150, 54%, 60%);
  --ball-5: hsl(200, 54%, 60%);
  --ball-6: hsl(250, 54%, 60%);
  --ball-7: hsl(300, 54%, 60%);
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg);
  color: var(--fg);
}

#root {
  margin: auto;
  display: flex;
  flex-direction: row;
}

/* Game container */

.game {
  margin: auto;
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5em 0 0 0;
  display: flex;
  justify-content: space-between;
}

.score-board {
  margin: 0 0 1em 0;
  font-size: calc(8px + 1vmin)
}

button:hover {
  cursor: grab;
}

button {
  border: none;
  background-color: transparent;
}

.icon:hover {
  fill: var(--ball-5);
}

/* Board */

.game-board {
  display: grid;
  margin: auto;
  width: calc(var(--cell-size) * 9 + 10px);
  height: calc(var(--cell-size) * 9 + 10px);
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  row-gap: 0;
  column-gap: 0;
}

.square {
  background: var(--bg);
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid var(--border);
  border-collapse: collapse;
  width: var(--cell-size);
  height: var(--cell-size);
}

.square:hover {
  background: var(--bg-active);
}


.ball:hover {
  cursor: grab;
}

.ball {
  opacity: 1;
  animation: zoom-in .5s ease
}

.square-active>.ball {
  animation: pulse 1.5s linear infinite;
}

@keyframes pulse {

  25%,
  75% {
    transform: scale(.7);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(.1, .1);
  }

  100% {
    transform: scale(1, 1);
  }
}